<% @photos.each do |photo| %>
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <div class="pull-left">
        <p class="text-right">
          <a href="/users/<%= photo.user.id %>">
            <%= photo.user.username %>
          </a>
        </p>
        <p class="text-right"><%= time_ago_in_words(photo.created_at) %> ago</p>
      </div>
      <div class="pull-right">
        <img src="<%= photo.user.avatar_url %>" class="img-responsive pull-right">
      </div>
    </div>
    <div class="col-md-6 well">
      <div class="thumbnail">
        <img src="<%= photo.image_url %>">
        <div class="caption">
          <p class="lead"><%= photo.caption %></p>
          <p>
            <% if current_user.favorite_photos.include?(photo) %>
              <% fav = Favorite.find_by({ :user_id => current_user.id, :photo_id => photo.id }) %>
              <a href="/delete_favorite/<%= fav.id %>" class="btn btn-danger">
                <i class="fa fa-heart"></i>
              </a>
            <% else %>
              <a href="/create_favorite?photo_id=<%= photo.id %>" class="btn btn-success">
                <i class="fa fa-heart-o"></i>
              </a>
            <% end %>
            <a href="/photos/<%= photo.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <% if photo.user_id == current_user.id %>
              <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, "/delete_photo/#{photo.id}", data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"  %>
            <% end %>
          </p>
        </div>
      </div>

    </div>
  </div>
<% end %>
