<div class="page-header">
  <h1>Photo #<%= @photo.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Image</dt>
  <dd><img src="<%= @photo.image_url %>" width="320"></dd>

  <dt>Caption</dt>
  <dd><%= @photo.caption %></dd>

  <dt>User</dt>
  <dd><%= @photo.user_id %></dd>

</dl>

<ul>
  <% @photo.comments.each do |comment| %>
    <li>
      <h4><%= User.find(comment.user_id).email %></h4>
      <p><%= comment.content %></p>
    </li>
  <% end %>
</ul>
