<div class="page-header">
  <h1>Photo #<%= @photo.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Image</dt>
  <dd><img src="<%= @photo.image_url %>" width="320"></dd>

  <dt>Caption</dt>
  <dd><%= @photo.caption %></dd>

  <dt>User</dt>
  <dd><%= @photo.user_id %></dd>

</dl>

<ul>
  <% @photo.comments.each do |comment| %>
    <li>
      <h4><%= comment.user.email %></h4>
      <p><%= comment.content %></p>
    </li>
  <% end %>
  <li>
    <form action="/create_comment">
      <textarea id="content" name="content" placeholder="Add your comment" class="form-control" rows="3"></textarea>

      <input type="hidden" id="photo_id" name="photo_id" value="<%= @photo.id %>">

      <input type="hidden" id="user_id" name="user_id" value="<%= current_user.id %>">

      <input type="submit" value="Create Comment" class="btn btn-primary">
    </form>
  </li>
</ul>
